.body {
    .body__lorem {
        text-align: center;
        .body__lorem--puzzle {
            margin-top: 10px;
        }
        .body__lorem--titre {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
        }
        .body__lorem--p {
            font-size: small;
        }
    }
}
