body {
    background-color: #bfc8d9;
    margin: 0px;
}
.body {
    margin-top: 20px;
    &__lorem {

        &--puzzle {
            margin-top: 10px;
            border-radius: 20%;
            opacity: 50%;
        }
        &--titre {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 30px;
            margin: 10px 0px 10px 0px;
        }
        &--p {
            padding: 10px 30px 10px 30px;
        }
    }
}