body {
    background-color: #bfc8d9;
    margin: 0px;
}
.body {
    margin-top: 20px;
    &__lorem {
        text-align: center;
        &--puzzle {
            margin-top: 10px;
            border-radius: 20%;
            opacity: 40%;
        }
        &--titre {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 30px;
            margin: 10px 0px 10px 0px;
        }
        &--p {
            padding: 10px 30px 10px 30px;
        }
    }
}
@media screen and (min-width: 481px) {
    body {
        background-image: url("/images/eau.jpg");
        background-size: cover;
        position: relative;
        .body {
            display: flex;
            flex-wrap: wrap;
            width: 700px;
            justify-content: center;
            &__lorem {  
                width: 300px;
            }
        }
    }
}
@media screen and (min-width: 769px) {
    body {
        background-image: url("/images/eau.jpg");
        background-size: cover;
        position: relative;
        .body {
            margin: 80px 0px 80px 0px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
            &__lorem {  
                width: 300px;
            }
        }
    }
}
