.foot {
    max-height: 200px;
    background-color: #dbe0e9;
    border-radius: 10%;
    margin: 30px;
    border: 1px black solid;
    &__title {
        margin: 5px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: #659aeb;
    }
    &__form {
        text-align: center;
        &--mess {
            &--txt {
                max-width: 200px;
                max-height: 40px;
            }
        }
        &--button { 
            background-color:#659aeb;
            margin-bottom: 10px;
        }
    }
}
.footer {
    font-style: italic;
    font-size: 10px;
}
@media screen and (min-width: 481px) {
    .foot {
        margin: auto;
        max-width: 500px;
        height: 180px;  
        border-radius: 20%;
        &__form {
            &--mess {
                &--txt {
                    max-width: 420px;
                    max-height: 50px;
                }
            }
        }
    }
    .footer {
        font-style: italic;
        font-size: 15px;
        color: white
    }
}