.header {
    height: 200px;
    background-image: url("/images/eau.jpg");
    background-size: cover;
    position: relative;
    &__h1 {
        padding: 10px 30px 10px 30px;
        position: absolute;
        color: white;
        font-size: 20px;
        text-align: center;
        top: 30px;
        }
    &__mail {
        display: flex;
        height: 50px;
        &--mail {
            position: absolute;
            left: 5%;
            bottom: 10%;
        }
        &--button {
            position: absolute;
            right: 10%;
            bottom: 10%;
            background-color: #659aeb;
            border: black 1px solid;
            font-style: oblique;
        }
}
}
@media screen and (min-width: 481px) {
    .header {
        display: flex;
        &__mail {
            &--mail {
                bottom: 50px;
                left: 10%;
            }
            &--button {
                bottom: 10px;
                left: 10%;
            }
        }
        &__h1{
            text-align: center;
        }
    }
}
@media screen and (min-width: 769px) {
    .header {
        display: flex;
        justify-content:end;
        &__mail {
            top: 50px;
            &--mail {
                bottom: 110px;
                left: 10%;
            }
            &--button {
                bottom: 80px;
                left: 10%;
            }
      }
        &__h1 {
            max-width: 40%;
            top: 50px;
            font-size: 25px;
            font-weight: bold;
        }
    }
}